@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;1,300&display=swap');

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 211, 254);
}

div.ia21-player {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(255, 255, 255);
  width: 70rem;
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
  border-radius: 50px;
  overflow: hidden;
  background-color: white;
  position: relative;
}

div.ia21-player video {
  width: 100%;
}

div.ia21-player div.controllers {
  display: flex;
  border-top: 1px solid rgb(255, 255, 255);
  column-gap: 1em;
  padding-right: 1em;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

div.ia21-player:hover div.controllers {
  opacity: 1;
  visibility: visible;
}

div.ia21-player div.controllers button.play-pause {
  background-color: transparent;
  border: 0 none;
  border-right: 1px solid rgb(255, 255, 255);
  cursor: pointer;
  font-size: 1em;
  padding: .5em;
  line-height: 1em;
  width: 2em;
  color: white;
}

div.ia21-player div.controllers div.timer{
  color: white;
}


div.ia21-player div.controllers div.dragbar {
  flex-grow: 1;
  position: relative;
  cursor: pointer;
}

div.ia21-player div.controllers div.dragbar:before {
  content: " ";
  position: absolute;
  top: calc(50% - .5px);
  border-top: 1px solid rgb(255, 252, 252);
  width: 100%;
}

div.ia21-player div.controllers div.dragbar div.draggable {
  --percent: 0%;
  background-color: rgb(255, 255, 255);
  width: .5em;
  height: .5em;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - .25em);
  left: calc(var(--percent) - .25em);
  pointer-events: none;
}

div.ia21-player div.controllers div.dragbar.timeline {
  width: 30%;
}

div.ia21-player div.controllers div.timer {
  display: flex;
  justify-content: center;
  align-items: center;
}