*{
    box-sizing: border-box;
}

div.ia21-player{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    display: inline-block;
    width: 720px;
}

div.ia21-player video {
    width: 100%;
}
div.ia21-player div.controllers{
    border-top: 1px solid black;
    display: flex;
    column-gap: 10px;
}

div.ia21-player div.controllers button.play-pause{
    background-color: transparent;
    border:none;
    border-right: 1px solid black;
    cursor: pointer;
}

div.ia21-player div.controllers div.dragbar{
    flex-grow: 1;
    position: relative;
}

div.ia21-player div.controllers div.dragbar::before{
    content: " ";
    position: absolute;
    border-top: 1px solid black;
    width: 100%;
    top:calc(50% - .5px)
}

div.ia21-player div.controllers div.dragbar div.draggable{
   --percent: 0%;
   background-color: black;
   width: .5rem;
   height: .5rem;
   border-radius: 50%;
   cursor: pointer;
   position: absolute;
   top:calc(50% - .25rem);
   left:(var(--percent) - .25rem)
}