* {
    box-sizing: border-box;
  }

  div.ia21-player {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 200px;
  }

  div.ia21-player video {
    width: 100%;
  }

  div.ia21-player div.controllers {
    display: flex;
    border-top: 1px solid black;
    column-gap: 10px;
  }

  div.ia21-player div.controllers button.play-pause {
    background-color: transparent;
    border: 0 none;
    border-right: 1px solid black;
    cursor: pointer;
  }

  div.ia21-player div.controllers div.dragbar {
    flex-grow: 1;
    position: relative;
  }

  div.ia21-player div.controllers div.dragbar:before {
    content: " ";
    position: absolute;
    top: calc(50% - .5px);
    border-top: 1px solid black;
    width: 100%;
  }

  div.ia21-player div.controllers div.dragbar div.draggable {
    --percent: 0%;
    background-color: black;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: calc(50% - .25rem);
    left: calc(var(--percent) - .25rem);
    pointer-events: none;
  }